<form class="createItemForm" [formGroup]="createItemForm">
  <mat-form-field >
    <mat-label>Заголовок</mat-label>
    <input matInput placeholder="Введите заголовок" >
  </mat-form-field>

  <mat-form-field >
    <mat-label>Подзаголовок</mat-label>
    <input matInput placeholder="Введите подзаголовок">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Контент</mat-label>
    <textarea matInput placeholder="Введите текст"></textarea>
  </mat-form-field>

<button mat-raised-button color="primary">Добавить пост</button>



</form>
<!--title: string,-->
<!--subtitle: string,-->
<!--content: string,-->
<!--id: string-->
