html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.itemsContainer {
  width: 600px;
  margin: 0 auto;
}


.itemCard {
  width: 400px;
  margin: 20px auto;
  padding: 12px;
}

.cursorPointer:hover{
  cursor: pointer;
}

.center {
  margin: 20px auto;
}



.error {
  border: 1px solid #ff5454;
}
